<!DOCTYPE html>
<html lang="en">

<%- include('./layouts/header') %>

<body>
    <%- include('../popups/alert') %>

    <div class="container-fluid">
        <div class="row">
            <%- include('./layouts/sidebar') %>
            
            <!-- Mobile Overlay -->
            <div class="mobile-overlay"></div>
            
            <div class="main-content p-3">
                <%- include('./layouts/topnav') %>

                <div class="contentwrapper">
                    <div class="col">
                        <!-- Header Section -->
                        <div class="row justify-content-between align-content-center">
                            <div class="welcome mb-4">
                                <h4 class="text-primary font-monospace">Facility Appointments</h4>
                                <p class="small">A brief summary of facility appointments</p>
                            </div>
                        </div>

                        <!-- Table Section -->
                        <div class="tablecontainer">
                            <table class="table table-hover">
                                <thead class="table-light">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">client</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Time</th>
                                        <th scope="col">Message</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (appointments && appointments.length > 0) { %>
                                        <% appointments.forEach((appointment, index) => { %>
                                            <tr style=`background-color:<%= appointment.isAttended ? 'rgba(25, 135, 84, 0.1)' : 'rgba(220, 53, 69, 0.1)' %>`>
                                                <td data-label="#">
                                                    <%= index + 1 %>
                                                </td>
                                                <td data-label="Appointee">
                                                    <%= appointment.name %>
                                                </td>
                                                <td data-label="Email">
                                                    <a href="mailto:<%= appointment.email %>"><%= appointment.email %></a>
                                                </td>
                                                <td data-label="Date">
                                                    <%= new Date(appointment.date).toLocaleDateString('en-US', { 
                                                        weekday: 'short',
                                                        year: 'numeric',
                                                        month: 'short',
                                                        day: 'numeric'
                                                    }) %>
                                                </td>
                                                <td data-label="Time">
                                                    <%= new Date(appointment.date).toLocaleTimeString('en-US', {
                                                        hour: '2-digit',
                                                        minute: '2-digit',
                                                        hour12: true
                                                    }) %>
                                                </td>
                                                <td data-label="Message">
                                                    <%= appointment.message %>
                                                </td>
                                                <td data-label="Status">
                                                    <span class="badge p-2 text-white bg-<%= appointment.isAttended ? 'success' : 'danger' %>">
                                                        <%= appointment.isAttended ? 'Attended' : 'Not Attended' %>
                                                    </span>
                                                </td>
                                                <td data-label="Action">
                                                    <% if (appointment.isAttended === false) { %>
                                                        <div class="btn-group">
                                                            <a href="/room/<%= appointment._id %>" class="btn btn-sm btn-outline-primary">
                                                                <i class="bi bi-calendar-check"></i> Attend
                                                            </a>
                                                        </div>
                                                    <% } %>
                                                    
                                                </td>
                                            </tr>
                                        <% }) %>
                                    <% } else { %>
                                        <tr>
                                            <td colspan="8" class="text-center">No Appointments records found</td>
                                        </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>