<!DOCTYPE html>
<html lang="en">

<%- include('./layouts/header') %>

    <body>
    <%- include('../popups/alert') %>

        <div class="container-fluid">
            <div class="row ">

                <%- include('./layouts/sidebar') %>
                    <!-- Mobile Overlay -->
                    <div class="mobile-overlay"></div>
                    <div class="main-content p-3">
                        <%- include('./layouts/topnav') %>


                            <div class="contentwrapper">
                                <div class="col">
                                    <div class="row justify-content-between align-items-center mb-5">
                                        <p class="lead">Search results for: <span class="text-uppercase  text-primary"><%= query %></span></p>
                                        <%- include('../forms/search/patient',{query}) %>
                                    </div>

                                      <!-- Creating a flexible responsive container for patients cards  -->
                                 <div class="row justify-content-center">
                                    <% if (patients && patients.length > 0) { %>
                                        <% patients.forEach(patient => { %>
                                         <%- include('../components/patientCards', {patient}) %>
                                        <% }) %>
                                        <% } else { %>
                                             <div class="col-12">
                                                 <p class="text-center">No patients found.</p>
                                             </div>
                                            <% } %>
                                     
                                 </div>
                                </div>
                              
                               
                            </div>
                    </div>
            </div>
        </div>


    </body>

</html>